@import 'mixins';
.get-in-touch-section {
    position: relative;
    z-index: 1;
    @include desktop() {
      &::before {
        content: url(/top-border-purple.svg);
        position: absolute;
        top: -64px;
        right: 0;
        z-index: -1;
      }

    }
   
    
  }
  