@import 'variables';
@import 'mixins';
@import 'footer';
@import 'heroVideo';
@import 'sliderSection';
@import 'recruitersCard';
@import 'recruiterSection';
@import 'teachingJobsSection';
@import 'meetOurTeamSlider';
@import 'getInTouchSection';
@import 'meetOurTeamSection';
@import 'jobDetailsCard';
 .body-text {
    font-family: $body-font-family;
 }
.title {
    color: $primary-color;
    
}

@include mobile() {
    .title {
        color: red;
    }
}
.visible {
    display: block!important;
}
