@import 'variables';
@import 'mixins';
@import 'footer';
@import 'heroVideo';

 .body-text {
    font-family: $body-font-family;
 }
.title {
    color: $primary-color;
    
}

@include mobile() {
    .title {
        color: red;
    }
}
.visible {
    display: block!important;
}
