@import "mixins";
@import "variables";
.recruiter-card {
    position: relative;
    width: 100%;
    @include desktop() {
        width: 30%;
     }
margin-bottom: 30px;
}
.recruiter-card__image {
    position: absolute;
    top: -25px;
    left: 10px;
}
// .recruiter-card__testimonial {

// }
// .recruiter-card__name {
// color:$color-red;
// }
// .recruiter-card__position {
// color:$primary-color;
// }