@import "variables";
.recruiters-section {
    background-color: $color-red;
}
.recruiter-section__subheading {
    color: $color-yellow;
    font-size: 20px;
    margin-bottom: 30px;
}
.recruiter-section__card-holder {
    margin-bottom: 30px;
}
