/* Dropdown container */


.teaching-jobs-section__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/icon-arrow-next.svg") no-repeat 98% center;
  background-size: 25px 25px; /* adjust as needed */
  padding: 15px; /* adjust as needed */
  
  
}
