
$color-dark-blue: #29235C;
$color-blue: #394CC4;
$color-light-blue: #5F6BE4;

$color-green-1: #1CA6D0;
$color-green-2: #16C39A;

$color-yellow: #FFB400;
$color-orange: #FF6A29;
$color-red: #CA005D;

$primary-color: #5F6BE4;
$secondary-color: #16C39A;
$tertiary-color: #CA005D;

$heading-font-family: 'Sora', sans-serif;
$body-font-family: 'Roboto', sans-serif;
